@font-face {
    font-family: 'font1';
    src: url(./polices/Raleway-VariableFont_wght.ttf);
}
body {
    width: 100%;
    max-width: 1440px;
	font-family: 'font1', sans-serif;
    margin: 0 auto 0 auto;
}
#container {
    width: 93.333%;
    margin-left: auto;
    margin-right: auto;
}
strong {
    font-weight: bold;
}
/* En-tête */
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;   
}

h1 {
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding: 1% 0 0 0;
}
h1 a {
    display: flex;
}
h2 {
    margin: 0 ;
}
nav {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}
nav ul {
    width: 28%;
    height: 88%;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
}
#blue {
    width: 8%;
    height: 75%;
    color: #0065FC;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.border_focus:hover{
    border-top: 5px solid #0065FC;
    color:#0065FC; 
}
/* Main */
main {
    padding: 2%;
}
section p {
    padding: 0 0 1% 0;
}
a {
    text-decoration: none;
    color: #333;
}
#block_search {
    width: 26%;
    height: 39px;
    display: flex;
    border: 0.1em solid #F2F2F2;
    border-radius: 25px;
    position: relative;
    margin: 0 0 0 1%;
    cursor: pointer;    
}
#background_geolocation_icon {
    background-color: #F2F2F2;
    width: 13.5%;
    height: 42px;
    display: flex;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    position: absolute;
    margin: -0.4% 0 0 -4%;
}
#geolocation_icon {
    width: 25%;
}
#input {
    border: none;
    padding-left: 13%;
    font-weight: bold;
    outline-style: none;
}
#search {
    width: 37%;
    height: 42px;
    font-weight: bold;
    background-color: #0065FC;
    color: #fff;
    border-style: none;
    border-radius: 0 13px 13px 0;
    position: absolute;
    margin: -0.4% 0 0 64%;
    cursor: pointer;
    
}
#search:hover {
    width: 37%;
    height: 42px;
    font-weight: bold;
    background-color: #fff;
    color: #0065FC;
    border-style: solid;
    border-color: #0065FC;
    border-radius: 0 13px 13px 0;
    position: absolute;
    margin: -0.4% 0 0 64%;
    cursor: pointer; 
}
#secret_search {
    display: none;
    width: 15%;
    height: 42px;
    position: absolute;
    border-radius: 10px;
    background-color: #0065FC;
    color: #fff;
    border-style: none;
}
#secret_search svg {
    width: 50%;
    color: #fff;   
}
#filters {
    display: flex;   
    align-items: center;
    margin: 2% 0 0 0;
}
.filters_row {
    width: 27%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.choice_filters {
    display: flex;
    justify-content: flex-end;
}
#border_block_search {
    margin: 25px 0 25px 0;
}
h4.choice_filters_l {
    transition: all 1.8s ease;
}
h4.choice_filters {
    transition: all 1.8s ease;
}
.border_filters {
    position: relative;
    height: 37px;
    margin-right: 2%;
    padding: 0 20px 0 40px;
    display: flex;
    align-items: center;
    border: 0.2em solid #F2F2F2;
    border-radius: 50px ;
    cursor: pointer;
}
.border_filters > .border_icons_l {
    transition-duration: 1.8s;
}
.border_filters > .border_icons {
    transition-duration: 1.8s;
}
.border_filters:hover > .border_icons {
    left: 77%;
    }
.border_filters:hover > .choice_filters {
    margin-left: -20%;
}
.border_filters:hover > .border_icons_l {
    left: 82%;
}
.border_filters:hover > .choice_filters_l {
    margin-left: -15%;
}
.border_filters:hover {
    border-color: #DEEBFF;
}
.border_icons, .border_icons_l {
    position: absolute;
    left: -4%;
    width: 42px;
    height: 42px;
    background-color: #DEEBFF;
    border-radius: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.border_icons svg, .border_icons_l svg {
    color: #0065FC;
}
#information {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
#border_icons_information {
    width: 1.3%;
    height: 20px;
    border-radius: 10px;
    border: 0.1em solid #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
#information svg {
    color: #0065FC;
}
#group_accommodation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0 5% 0;
}
/*********** Hébergement **********/
#accommodation {
    width: 67.11%;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#accommodation_header {
    padding: 4% 0 3% 4%;
}
#accommodation_choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.choice_hostel {
    width: 29.2386364%;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 0 3% 0;
    box-shadow: 2px 3px 12px 1px #d0cece;      
}
.block_img {
    max-height: 120px;
    overflow: hidden;
    margin: 2%;
    display: flex;
    align-items: center;
    border-radius: 12px 12px 0 0 ;
}
.block_img img{
    width: 100%;    
}
.content_star {
    display: flex;
    margin: 0 0 0 2%;
}
.star_blue i{
    
    color:#0065FC;
}
.star_grey {
    color: #F2F2F2;
}
.footer_img {
    margin: 1% 0 3% 6%;
}
.footer_img h4, .footer_img p {
    margin: 0 0 0 2%;
}
#footer_accommodation {
    padding: 0 0 4% 4%;
}
/* Populaires */
aside {
    width: 30.44%;
    background-color: #F2F2F2;
    padding: 2.5% 0 0 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#popular {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#popular_header {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popular_choice {
    width: 86%;
}
#popular_choice article {
    margin: 9% 0 1% 0;
    padding: 0 0 2% 0;
}
.popular_img_footer h4 {
    margin: 0;
    padding: 0;   
}
.popular_article {
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    box-shadow: 2px 3px 12px 1px #d0cece;
}
.popular_img {
    height: 142px;
    width: 37%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0 0 12px;
    margin: 1% 1% 1% 1.5%;
}
.popular_img img{
    height: 100%;
}
#popular_img_grrr{
    height: 149px;
    width: 38%;
    display: flex;
    align-items: stretch;   
}
#popular_img_grrr img{
    width: 100%;
    border-radius: 15px 0 0 15px;
    margin: 3% 0 3% 3%;
}
.popular_img_footer {
    padding: 0 0 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.popular_img_footer p {
    margin: 0;  
}
.star_container {
    display: flex;
    height: 33%;
    align-items:flex-end;
}
/* Activités */
#activity {
    width: 100%;
    height: 500px;
}
#activity_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2% 0 0 0;
}
#activity_container h3 {
    margin: 4% 0 7% 5%;
}
#activity_container h4 {
    margin: 6%; 
}
.card_simple {
    width: 23%;
    height: 439px;
    box-shadow: 2px 3px 12px 1px #d0cece;
    border-radius: 15px;    
}
.card_simple_img {
    height: 88%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 15px 15px 0 0;   
}
.card_double_l_s {
    width: 23%;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_double_l_s a, .card_double a {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 12px 1px #d0cece;
    border-radius: 15px ;
}
.card_double_img_l {
    width: 100% ;
    height: 157px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 5% 0 0 0;
    border-radius: 15px 15px 0 0;        
}
.card_double_img_s {
    width: 100% ;
    height: 123px;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    border-radius: 17px 17px 0 0;       
}
#card_double_container {
    width: 23%;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.card_double {
    width: 100%;
    height: 200px;
    border-radius: 0 0 15px 15px;  
}
.card_double a {
    height: 200px;
}
.card_double_img {
    width: 100% ;
    height: 170px;
    overflow: hidden;
    align-items: flex-start;
    border-radius: 15px 15px 0 0;      
}
.card_double_img img, .card_double_img_l img, .card_double_img_s img {
    width: 100%;       
}
/* Footer */
footer {
    width: 100%;
    height: auto; 
    background-color: #F2F2F2;
    margin: 5% 0 0 0;   
}
#footer_container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
}
.footer_block {
    width: 32.5%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer_block h3 {
    margin: 0 0 2% 0;
}
.footer_block ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;  
}
.footer_block a {
    height: 26px;
    justify-content: flex-start;
}
.footer_block p {
    margin: 0 0 1% 0;
}
.footer_block a:hover{
    color: #0065FC;
}
/* Média Queries */
@media screen and (min-width: 964px) and (max-width: 1293px) {	
    #container {
	width: 100%;
    }
    header {
        margin: 0 0 4% 0;
    }
    #blue {
        width: 12%;
    }
    nav ul {
        width: 40%;
        margin: 0 2% 0 0;
    }
    #filters {
        margin: 2% 2% 0 0;
    }
    .filters_row {
        width: 35%;
        margin: 0 0 0 2%;
    }
    #border_icons_information {
        width: 2%;
        height: 19px;
    }
    /* Groupe Hhébergements */
    #group_accommodation {
        display: flex;
        flex-direction: column-reverse;   
    }
    /* Populaires */
    aside {
        width: 100%;
        height: 300px;
        margin: 0 0 5% 0;
        display: flex;
    }
    #popular {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
  
    }
    #popular_header {
        width: 97%;
        padding: 0 0 2% 0;
    }
    #popular_choice {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    #popular_choice article {
        width: 33%;
        margin: 0;
        padding: 0;
    }
    .popular_article {
        width: 95%;
        height: 180px;
    }
    .popular_img {
        width: 34%;
        height: 172px;
    }
    #popular_img_grrr {
        width: 38%;
        height: 143px;
	display: flex;
        align-items: stretch;
        margin: 1% 2% 2% 1%;    
    }
    #popular_img_grrr img {
    	width: 100%;
    	border-radius: 15px 0 0 15px;
    }
    .popular_img_footer {
        padding: 1% 1% 0 2%;
    }
    /* Hébergements */
    #accommodation {
        width: 100%;
        height: auto;
    }
    #accommodation_choice {
        width: 100%;
        height: auto;
    }
    .block_img {
        height: auto;
    }
    /* Activités */
    #activity {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #activity h2 {
        padding: 0 0 2% 3%;
    }
    #activity_container {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 0 0 2%;
    }
    .card_simple {
        width: 29.2386364%;
        height: 200px;
        margin: 0 1% 1% 0;
    }
    .card_simple_img {
        max-height: 151px;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        border-radius: 15px 15px 0 0;
    }
    .card_simple_img img {
        width: 100%;
    }
    .card_double_l_s, #card_double_container {
        width: 69%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 0 2% 0;
    }
    .card_double_l_s a, .card_double {
        width: 45%;
        margin: 0 4% 0 0 ;
    }
    .card_double_img_l, .card_double_img_s, .card_double_img {
        min-height: 150px;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
        padding: 0;
    }
    #align_items_center {
        display: flex;
        align-items: center;
    }
    /* Pied de page */
    .footer_block h3 {
        margin: 0 0 6% 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 963px) {
    
    #container {
        width: 100%;
        margin: 0;    
    }
    header {
        margin: 0 0 4% 0;
    }
    nav ul {
        width: 44%;
    }
    #blue {
        width: 16%;
    }
    #filters {
        flex-wrap: wrap;
    }
    .filters_row {
        width: 100%;
        height: 57px;
        justify-content: flex-start;
    }
    .border_filters {
        margin: 0 2% 0 0;
    }
    #block_search {
	    width: 37%;
    }
    #background_geolocation_icon {
        height: 42px;
    }
    #border_icons_information {
        width: 2%;
        height: 19px;
        border-radius: 11px;
    }
    #search {
	height: 41px;
    }
    /* Groupe Hébergements */
    #group_accommodation {
        display: flex;
        flex-direction: column-reverse;   
    }
    /* Populaires */
    aside {
        width: 100%;
        margin: 0 0 5% 0;
    }
    #popular {
        width: 100%;
        height: 470px;  
    }
    #popular_header {
        width: 97%;
        padding: 0 0 2% 0;
    }
    #popular_choice {
        width: 94%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #popular_choice article {
        width: 48%;
        margin: 0;
    }
    .popular_article {
        height: 180px;
    }
    .popular_img {
        width: 38%;
        height: 172px;
    }
    #popular_img_grrr {
        width: 39%;
        height: 179px;  
    }
    .popular_img_footer {
        padding: 1% 1% 0 2%;
    }
    /* Hébergements */
    #accommodation {
        width: 100%;
        height: auto;
    }
    #accommodation_choice {
        width: 100%;
        height: auto;
    }
    .choice_hostel {
        width: 44%;
        height: 235px;
    }
    .block_img {
        max-height: 155px;
    }
    /* Activités */
    #activity {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #activity h2 {
        padding: 0 0 0 1%;
    }
    #activity_container {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
    }
    #activity_container h4 {
        margin: 0;
    }
    .card_simple {
        width: 100%;
        height: 280px;
        margin: 0 0 4% 0;
    }
    .card_simple h4 {
        padding: 2% 0 0 2%;
    }
    .card_simple_img {
        height: 230px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 15px 15px 0 0;
    }
    .card_simple_img img {
        width: 100%;
    }
    .card_double_l_s, #card_double_container {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-between;
        margin: 0 0 4% 0;
    }
    
    .card_double_l_s a, .card_double {
        width: 48%;
    }
    .card_double_img_l, .card_double_img_s, .card_double_img {
        height: 158px;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
        padding: 0;
    }
    .card_double_l_s h4, .card_double h4 {
        padding: 3% 0 3% 5%;
    }
    #align_items_center {
        display: flex;
        align-items: center;
    }
    /* footer */
    
    .footer_block h3 {
        margin: 0 0 8% 0;
    }
}
@media screen and (max-device-width: 767px) {
    #container {
        width: 99%;
    }
    /* Header */
    header {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    h1 {
        width: 50%;
        height: auto;
    }
    header a {
        width: 52%;
        padding: 0 2% 0 4%;
    }
    #blue {
        width: 21%;
        height: 28%;
    }
    nav {
        height: 50px;
        order: 1;
        padding: 2% 0 0 0;
    }
    nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;      
    }
    nav li {
        height: 100%;
        display: flex;
        height: 100%;
        border-bottom: 2px solid #F2F2F2;
    }
    nav li:hover {
       border-bottom: 2px solid #0065FC;   
    }
    nav ul li a {
        height: auto;
    }
    .border_focus:hover {
        border-top: none;
    }
    #logo {
        position: relative;
    }
    /* Main */
    main {
        padding: 0;
    }
    
    #container {
        width: 100%;
    }
    h2 {
        margin: 8% 0 4% 0;
    }
    section p {
        margin-bottom: 8%;
    }
    #search_section {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #search_section h2, #search_section p {
        width: 96%;
    }
    #search {
        display: none;
    }
    #secret_search {
        width: 12%;
        height: 41px;
        display: block;
        margin: -0.2% 0 0 88%;
    }
    #filters {
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2%;
    }
    
    #block_search {
        width: 96%;
    }
    #background_geolocation_icon {
        width: 12%;
        height: 40px;
        margin: 0;
    }
    #background_geolocation_icon svg {
        width: 34%;
    }
    #input {
        padding-left: 20%;
    }
    .border_icons, .border_icons_l {
        left: -2%;
    }
    .filters_row {
        width: 92%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .border_filters {
        margin: 0 0 2% 0;
        padding: 0 20px 0 44px;
    }
    #information {
        width: 98%;
        padding-left: 1%;
        align-items: baseline;
    }
    #border_icons_information {
        width: 6%;
        height: 17px;
        border-radius: 11px;
    }
    /* Groupe Hébergements */
    #group_accommodation {
        width: 100%;
        display: flex;
        flex-direction: column-reverse; 
        align-items: center;  
    }
    /* Hébergements */
    #accommodation {
        width: 96%;
        height: auto;
        background: none;
    }
    #accommodation_header {
        margin: 11% 0 2% 1%;
        padding: 0;
    }
    #accommodation_choice {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .choice_hostel {
        width: 100%;
        margin: 0 0 5% 0;
    }
    /* Populaires */
    aside {
        width: 100%;
        height: 580px;
        border-radius: 0;
    }
    #popular_choice {
        width: 96%;
    }
    #popular_choice article {
        margin: 0;
        padding: 0 0 4% 0;
    }
    
    .footer_img {
        margin: 0;
        padding: 0% 0 2% 2%;
    }
    /* Avtivitéés */
    #activity {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #activity h2 {
        width: 98%;
        margin: 0 0 8% 1%;
    }
    #activity_container {
        width: 96%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
    }
    #activity_container h3 {
        margin: 0;
        padding: 3% 0 0 3%;
    }
    .card_simple {
        width: 100%;
        height: 212px;
        margin: 0 0 5% 0;
    }
    .card_simple_img {
        height: 150px;
    }
    .card_simple_img img {
        width: 100%;
    }
    .card_double_img {
        height: 150px;
    }
    .card_double_l_s, #card_double_container {
        width: 100%;
        height: 460px;
        justify-content: space-around;
        margin: 0 0 5% 0;
    }
    .card_double_l_s a, .card_double a {
        height: 200px;
    }
    .card_double_img_s, .card_double_img_l {
        height: 150px;
        padding: 0;
    }

    #align_items_center {
        display: flex;
        align-items: center;
    }
    /* Footer */
    footer {
        height: 400px;
    }
    #footer_container {
        height: 95%;
        flex-direction: column;
        padding: 1% 0 0 0;
    }
    .footer_block {
        width: 90%;
        height: 120px;
        justify-content: flex-end;
    }
    .footer_block h3 {
        margin: 0 0 5% 0;
    }
}